<div class="container-fluid">
      <header>
        <h1>Ideas</h1>
        <h2>Porque el mundo está hecho de ideas</h2>
      </header>

      <nav id="navegacion">
        <ul>
          <li><a href="index.html">Principal</a></li>
        </ul>
      </nav>

      <section id="cabecera">
        <img src="img/ideas.png" alt="Logo de Ideas" width="200" height="200" />
      </section>

      <section id="datos1"> 
        <table>
          <caption>Datos por tipo</caption>
          <tr>
            <th>Ideas</th>
            <td>325</td>
          </tr>
          <tr>
            <th>Pensamientos</th>
            <td>1022</td>
          </tr>
        </table>
      </section>

      <section id="datos2"> 
        <table>
          <caption>Datos por tipo y por mes </caption>
          <tr>
            <th>Mes</th>
            <th>Septiembre</th>
            <th>Octubre</th>
          </tr>
          <tr>
            <th>Ideas</th>
            <td>300</td>
            <td>430</td>
          </tr>
          <tr>
            <th>Pensamientos</th>
            <td>230</td>
            <td>72</td>
          </tr>
        </table>
      </section>
    </div>